
.user-detail-info-title
{
    color: white;
    font-family: Arial;
    font-style: normal;
    font-weight:normal;
    line-height: normal;
    font-size: larger;
    padding-left: 40px;
    height: max-content;
    background: green;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.user-detail-info-title p
{
    padding-top: 5px;
    color: white;
    font-size: smaller;
}

.user-detail-info-title-detail
{
    display: inline-flex;
    align-items: center;
}

.edit-link
{
    font-size: xx-large;
    color: white;
    width: 35px;
    height: 35px;
    margin-left: 10px;
}

.edit-link:hover
{
    color: #000;
    background-color: wheat;
    border-radius: 5px;
}