@tailwind base;
@tailwind components;
@tailwind utilities;

.select-role-layout-frame
{
    background-color: rgb(122, 122, 189);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}