
.user-detail-edit-content-frame
{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 82%;

    /* background-color: green; */
}

.user-detail-edit-content-container
{
    display: grid;
    grid-template-columns: 60% 40%;
    /* column-gap: 4%; */
    width: 100%;
    height: 80%; 
    /* background-color: aqua; */
}

.user-detail-edit-avatar-frame
{
    margin-top: -10px;
    /* background-color: blue; */
}