

.user-menu-frame
{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    height: max-content;
}

.user-menu
{
    height: 530px;
    border-bottom-right-radius: 15px;
}

.user-menu-top-info
{
    display: block;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-right-radius: 15px;
    background-color: ghostwhite;
}

.user-menu-top-info p
{
    display: inline;
    padding-left: 10px;
    width: 100%;
    padding-right: 10px;
    height: 100%;
    color: #000;
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.user-menu-collapsed-button
{
    color: #000;
    background-color: wheat;
}