
.login-back-homepage
{
    background-color: transparent;
    margin-left: 15px;
    margin-top: 10px;
    width: min-content;
    height: min-content;
    /* background-image: url('../../../../public/arrow-back-ios.svg'); */
    alt: 'back to homepage';
    width: 30px;
    color: transparent;
}

.login-back-homepage:hover
{
    background-color: aliceblue;
    border-radius: 25px;
}

.login-frame
{
    height: 100%;
    width: 100%;
    display: flex;
    padding: 100px 437px;
    justify-content: center;
    align-items: center;
    background: #FFF;
}


.login-form-frame
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60pc;
    height: 34pc;
    flex-shrink: 0;
    border-radius: 25px;
    background: #FFF;
    box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.25);
}

.login-form
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form-wrapper
{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: 100%;
}

.login-form input
{
    width: 309px;
    height: 60px;
    border-radius: 15px;
    background: lightgrey;
    margin-top: 4px;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.login-form input:hover
{
    background-color: #A2C3F4;
}

.login-form label
{
    color: #000;
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.login-form button
{
    color: #000;
    text-align: center;
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 25px;
    background: #A2C3F4;
    width: 309px;
    height: 40px;
}

.login-form button:hover{
    border: 2px solid black;
}

.login-retangle
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px 25px 25px 0px;
    background: #f0af0a;
    box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.25);
}

.login-retangle p
{
    color: #000;
    text-align: center;
    font-family: Arial;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 20px
}

.login-retangle ti
{
    text-decoration-line: underline;
}