
.user-detail-edit-text-content-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 100%;
}

.user-detail-edit-text-content-grid
{
    display: grid;
    grid-template-columns: 30% 70%;
    /* column-gap: 20px; */
    /* grid-template-rows: 86% 14%;
    row-gap: 5%; */
    width: 100%;
}

.user-detail-edit-text-content-labels
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 40px;
    text-align: right;
    color: grey;
}

.user-detail-edit-text-content-labels label
{
    padding-top: 15px;
    padding-bottom: 15px;
}

.user-detail-edit-text-content-info
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.user-detail-edit-text-content-info input
{
    border: #000;
    border-width: 3px;
    border-radius: 15px;
    background-color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.user-detail-edit-text-content-info-datepicker
{
    max-width: 40%;
    border: #000;
    border-width: 3px;
    border-radius: 15px;
    background-color: whitesmoke;
    margin-top: 10px;
    margin-bottom: 10px;
}

.user-detail-edit-text-content-buttons
{
    width: 100%;
    /* background-color: #000; */
    grid-column: 2;
    max-width: 80%;
    display: flex;
    justify-content:left;
}

