
.hiden-frame
{
    width: 100%;
    height: 60px;
}

.user-main-frame
{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
    height: 670px;
}

.user-detail-frame
{
    padding-left: 10px;
    padding-top: 6px;
    padding-right: 10px;
    padding-bottom: 6px;
    background-color: black;
}