.user-detail-info-image-content-frame
{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 80%;
    /* background-color: green; */
}

.user-detail-info-image-content-container
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.user-detail-info-image-upload-container
{
    margin-top: 20px;
}